@import "../utils/browser";

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;

  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-top: auto;

  border-top: 1px solid var(--gray-300);

  transition: background-color 0.3s ease, border 0.3s ease;

  a {
    color: var(--blue-800);
    font-weight: 500;

    display: flex;
    align-items: center;
    column-gap: 0.7em;
    row-gap: 0.7em;

    svg {
      width: 1.2em;
      height: 1.2em;
    }
  }
}

[data-theme="dark"] {
  .footer {
    background-color: var(--gray-800);

    border-color: var(--gray-600);

    p {
      a {
        color: var(--blue-400);
      }
    }
  }
}
