@import "../utils/browser";
@import "../utils/screen";

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  column-gap: 1.5em;
  row-gap: 1.5em;

  background-color: white;

  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-top: auto;

  border-top: 1px solid var(--gray-300);

  transition: background-color 0.3s ease, border 0.3s ease;

  @include screen(md) {
    flex-direction: row;
  }

  a {
    font-weight: 600;

    display: flex;
    align-items: center;
    column-gap: 0.7em;
    row-gap: 0.7em;

    svg {
      width: 1.2em;
      height: 1.2em;
      min-width: 1.2em;
      min-height: 1.2em;
    }
  }
}

[data-theme="dark"] {
  .footer {
    background-color: var(--gray-800);

    border-color: var(--gray-600);

    p {
      a {
        color: var(--blue-400);
      }
    }
  }
}
