@import "../utils/typography";
@import "../utils/screen";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;

  @include screen(md) {
    padding: 3em;
  }

  h1 {
    margin-top: 12px;
    margin-bottom: 24px;

    font-family: Inter;

    @include typography(36px, 600, 44px, 0, center);

    @include screen(md) {
      font-size: 60px;
      font-weight: 600;
      line-height: 72px;
    }
  }

  p {
    font-family: Inter;

    @include typography(18px, 400, 28px, 0, center);

    @include screen(md) {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
    }
  }

  span {
    font-size: 24px;
    font-weight: 700;
    margin: 12px 0;
    display: inline-block;

    @include screen(md) {
      font-size: 32px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
    flex-direction: column-reverse;

    row-gap: 1em;
    column-gap: 1em;

    @include screen(sm) {
      flex-direction: row;
    }
  }
}
