@import "../utils/screen";
@import "../utils/browser";

.not_found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 40px;

  @include gap(40px);

  margin-top: 3em;

  .not_found__image {
    max-width: 80vw;
    min-height: 300px;
    width: 100%;

    @include screen(sm) {
      max-width: 60vw;
    }

    @include screen(md) {
      max-width: 40vw;
    }

    @include screen(lg) {
      max-width: 30vw;
    }
  }

  .not_found__title {
    text-align: center;
  }
}
