@import "../../utils/typography";

.btn {
  all: unset;
  cursor: pointer;

  width: fit-content;

  display: flex;
  align-items: center;

  border-radius: var(--border-radius);

  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  & > :nth-child(2) {
    margin-left: 0.7em;
  }

  &__blue {
    color: white;
    background-color: var(--blue-600);

    &:hover,
    &:focus {
      background-color: var(--blue-700);
      box-shadow: 0 0 0 3px var(--blue-400);
    }
  }

  &__red {
    color: white;
    background-color: var(--red-600);

    &:hover,
    &:focus {
      background-color: var(--red-700);
      box-shadow: 0 0 0 3px var(--red-400);
    }
  }

  &__yellow {
    color: var(--gray-800);
    background-color: var(--yellow-600);

    &:hover,
    &:focus {
      background-color: var(--yellow-700);
      box-shadow: 0 0 0 3px var(--yellow-400);
    }
  }

  &__gray {
    color: var(--gray-900);
    background-color: white;
    box-shadow: 0 0 0 1px var(--gray-300);

    &:hover,
    &:focus {
      background-color: var(--gray-50);
      box-shadow: 0 0 0 3px var(--gray-300);
    }
  }

  &__light {
    color: var(--gray-900);
    background-color: white;

    &:focus {
      box-shadow: 0 0 0 3px var(--gray-200);
    }
  }

  &__green {
    color: white;
    background-color: var(--green-500);

    &:hover,
    &:focus {
      background-color: var(--green-700);
      box-shadow: 0 0 0 3px var(--green-400);
    }
  }

  &__xs {
    padding: 8px 12px;

    @include typography(12px, 500, 18px, 0, center);
  }

  &__sm {
    padding: 8px 12px;

    @include typography(14px, 500, 21px, 0, center);
  }

  &__md {
    padding: 10px 20px;

    @include typography(14px, 500, 21px, 0, center);
  }

  &__lg {
    padding: 12px 20px;

    @include typography(14px, 500, 21px, 0, center);
  }

  &__xl {
    padding: 14px 24px;

    @include typography(16px, 500, 24px, 0, center);
  }

  svg {
    max-width: 24px;
    max-height: 24px;
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

[data-theme="dark"] {
  .btn {
    &__gray {
      color: white;
      background-color: var(--gray-800);
      box-shadow: 0 0 0 1px var(--gray-600);

      &:hover,
      &:focus {
        background-color: var(--gray-700);
        box-shadow: 0 0 0 3px var(--gray-400);
      }
    }

    &__light {
      color: white;
      background-color: var(--gray-800);

      &:focus {
        background-color: var(--gray-700);
        box-shadow: 0 0 0 3px var(--gray-600);
      }
    }
  }
}
