@import "../../utils/typography";

.input {
  position: relative;

  display: flex;
  flex-direction: column;

  &__error {
    .input__label {
      color: var(--red-500) !important;
    }

    .input__el {
      border: 1px solid var(--red-500) !important;

      box-shadow: 0 0 0 1px var(--red-500) !important;
    }
  }

  .input__label {
    color: var(--gray-800);

    margin-bottom: 8px;

    transition: color 0.3s ease;

    @include typography(14px, 500, 20px, 0em, left);
  }

  .input__el {
    position: relative;

    color: var(--gray-900);
    background-color: white;

    padding: 10px 18px;

    border: none;
    box-shadow: 0 0 0 1px var(--gray-300);
    border-radius: var(--border-radius);

    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    @include typography(16px, 400, 24px, 0em, left);

    &:disabled {
      cursor: text !important;

      opacity: 0.6 !important;
      background-color: var(--gray-100);
    }

    &::placeholder {
      color: #667085;
    }

    &:hover,
    &:focus {
      box-shadow: 0 0 0 3px var(--gray-200);
    }
  }

  .input__error {
    color: var(--red-500);

    margin-top: 6px;

    @include typography(16px, 400, 24px, 0em, left);
  }
}

[data-theme="dark"] {
  .input {
    .input__label {
      color: var(--gray-200);
    }

    .input__el {
      color: white;
      background-color: var(--gray-800);
      box-shadow: 0 0 0 1px var(--gray-600);

      &:disabled {
        background-color: var(--gray-700);
      }

      &::placeholder {
        color: var(--gray-400);
      }

      &:hover,
      &:focus {
        box-shadow: 0 0 0 3px var(--gray-500);
      }
    }
  }
}
