@import "./variables";

@import "../utils/typography";
@import "../utils/container";

// ###############
// Default Styling
// ###############

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;

  outline: none;

  -webkit-appearance: none;
}

body {
  position: relative;

  font-size: 16px;

  color: var(--gray-900);
  background-color: white;

  transition: background-color 0.3s ease, color 0.3s ease;

  #__next {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
  }
}

[data-theme="dark"] {
  body {
    color: white;
    background-color: var(--gray-800);
  }
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  @include typography(48px, 800, 48px, 0, left);
}

h2 {
  @include typography(36px, 700, 36px, 0, left);
}

h3 {
  @include typography(36px, 700, 36px, 0, left);
}

h4 {
  @include typography(30px, 700, 30px, 0, left);
}

h5 {
  @include typography(20px, 700, 20px, 0, left);
}

h6 {
  @include typography(18px, 700, 18px, 0, left);
}

/* ScrollBard */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--gray-cool-300);
  border-radius: var(--border-radius);
  transition: background-color var(--transition-duration)
    var(--transition-animation);

  &:hover {
    background-color: var(--gray-cool-500);
  }
}

// Svg Icons Default Config
.icon {
  width: 24px;
  height: 24px;

  color: currentColor;
}

// Spinner Animation
.spinner {
  animation: spinner 1s infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
